@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font: 1em $body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings;
  color: $heading-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $brand-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/*block site start*/
.site-header {
  padding: 80px 0;
  .site-logo {
    margin-bottom: 10px;
  }

  .site-nav {
    @include uppercase();
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.7em;
    ul {
      display: flex;
      list-style-type: none;
     li {
      margin: 0 20px;
      }
    }
  }
}
/*block site end*/

/*hero site start*/
.hero {
  position: relative;
  margin-bottom: 150px;
  .hero__text {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 35%;
    .info-block {
        &__subtitle {
          @include uppercase();
          color: $brand-color;
          font-size: 0.7rem;
          font-family: $body;
          display: block;
        }
        &__title--bigger {
          font-size: 1.7rem;
        }
      .info-block__body {
        width: 80%;
        p {
          font-size: 1rem;
          color: $info-block-color;
        }
      }
    }

  }
}
/*hero site end*/

/*block quote start*/
  .quote {
    text-align: center;
    &::after {
      content: "";
      display: block;
      background-color: $brand-color;
      width: 2px;
      height: 100px;
      margin: 35px auto 0;
    }
  &__body {
    font-family: $headings;
    font-weight: 400;
    color: $heading-color;
  }
  &__name {
    @include uppercase();
    font-size: 0.6rem;
    font-style: normal;
  }
}
/*block quote end*/

/*surf-images start*/
.surf-images {
  margin-top: 35px;
  margin-bottom: 150px;

  .surf-images__image1 {
    margin-right: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .surf-images__surf-images__image1-text {
      font-family: $body;
      color: $info-block-color;
      margin-top: 50px;
      margin-bottom: 30px;
    }

    .text-subtitle {
      @include uppercase();
      font-size: 0.6em;
      @include subtitle2();
    }
  }

    .surf-images__image2 {
      margin-top: 75px;
      height: auto;
    }
}
/*surf-images end*/

/*shop start*/
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;

  .shop__title {
    margin-bottom: 150px;
    text-align: center;
    font-size: 1.4rem;
  }

  .shop__title--name {
    @include uppercase();
    color: $brand-color;
    font-size: 0.6rem;
    font-family: $body;
    display: block;
  }

  .shop__surfs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  .shop__surfs--choose {
    background-color: #ebebec;
    width: 230px;
    height: 330px;
  }

  .shop__surfs--description {
    height: 150px;
    display: flex;
    flex-direction: column;
    margin-left: -70px;
  }

  .board-title {
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: $body;
    color: $info-block-color;
  }

  .board-name {
    font-family: $headings;
  }

  .price {
    color: #ce60a8;
    text-transform: uppercase;
    font-size: 1.2em;
    text-align: center;
    margin-top: 15px;
  }

  .buy {
    @include uppercase();
    font-size: 0.6em;
    text-align: center;
  }

  .shop__show-all {
    @include uppercase();
    @include subtitle2();
    font-size: 0.6em;
    letter-spacing: 5px;
  }
}
/*shop end*/

/*surf-training start*/
.surf-training {
  margin-bottom: 150px;
  position: relative;

  &__description {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    height: 100%;
    width: 35%;
  }
    .surf-training__surf-training__description__subtitle1 {
      font-size: 1.4rem;
      @include subtitle1();
    }

  .surf-training__surf-training__description__text {
    @include description-text();
  }
    .surf-training__surf-training__description__subtitle2 {
    @include uppercase();
    font-size: 0.6em;
    @include subtitle2();
    }
  }
/*surf-training end*/

/*point-break start*/
.point-break {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  &::after {
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 100px;
    margin: 120px auto 0;
  }

  .point-break__image {
    margin-right: -100px;
  }

  .point-break__description {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    height: 100%;

    .point-break__point-break__description__subtitle1 {
      font-size: 1.4rem;
      @include subtitle1();
    }
    .point-break__point-break__description__text {
      @include description-text();
    }

    .point-break__point-break__description__subtitle2 {
      @include uppercase();
      font-size: 0.6em;
      @include subtitle2();
    }
  }
}
/*point-break end*/

/*join-the-club*/
.join-the-club {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;

  .join-the-club__block {
    display: flex;
    flex-direction: column;
  }

  .join-the-club__block--subtitle1 {
    font-size: 1.4rem;
  }
  .join-the-club__block--text {
    font-family: $body;
    color: $info-block-color;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 600px;
  }

  .join-the-club__block--e-mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    height: 50px;
    text-align: left;
    &::after {
      content: "";
      display: block;
      background-color: $brand-color;
      width: 50px;
      height: 50px;
    }
  }

  .join-the-club__block--e-mail__span {
    @include uppercase();
    font-size: 0.6em;
    padding-left: 20px;
  }

/*  .join-the-club__block--e-mail__arrow {
    width: 20px;
    height: 20px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
  }*/
}
/*join-the-club*/

/*our-camp*/
.our-camp {
  margin-bottom: 120px;

  .our-camp__img {
    margin-left: -150px;
    position: relative;
  }

  .our-camp__description {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    height: 50%;
    width: 35%;
  }

  .our-camp__subtitle1 {
    @include uppercase();
    color: $info-block-color;
    font-size: 0.6em;
    margin-top: 30px;
    margin-bottom: 40px;
    letter-spacing: 7px;
  }

  .our-camp__subtitle2 {
    font-size: 1.2rem;
    padding-left: 55px;
  }

  .our-camp__subtitle3 {
    @include uppercase();
    font-size: 0.6em;
    color: $brand-color;
    letter-spacing: 7px;
    margin-top: 50px;
    &::after {
      content: "";
      display: block;
      background-color: $brand-color;
      width: 145px;
      height: 2px;
    }
  }
}
/*our-camp end*/

/*site-footer start*/
.site-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .site-nav {
    @include uppercase();
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 0.8em;
    ul {
      display: flex;
      list-style-type: none;
      margin: 40px 0 40px 0;
      li {
        margin: 0 20px;
      }
    }
  }
  @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
  .sm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-top: 15px;
    }
  }
/*site-footer end*/